.divInicio{
    position: relative;
    width: 100vw;
    height: 90vh;
    min-height: 570px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 80px;
}
.inicioTexto, .inicioFoto{
    width: 100%;
    min-height: 260px;
    position: relative;
}
.inicioTexto{
    height: 50%;
    max-width: 700px;
}
.texto, .divMiFoto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inicioFoto{
    height: 40vh;
}
.inicioFoto circle{
    stroke-width: 15;
}
.circle1, .circle3{
    animation:20s rotarCirculo1 linear infinite;
} 
.circle2{
    animation: 20s rotarCirculo1 linear infinite reverse;
}
.divMiFoto{
    width: 65%;
    height: 65%;
}
#miFoto{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@keyframes rotarCirculo1{
    0%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 100%;}
}
@media screen and (min-width:700px) {
    .inicioTexto, .inicioFoto{
        height: 50vh;
        width: 49%;
        top: 50%;
        transform: translateY(-50%);
    }
    .inicioTexto{
        position: relative;
    }
    .inicioFoto{
        position: absolute;
        left: 50%;
    }
    .texto{
        font-size: 1.5em;
    }
}