<section id="about">
    <div class="tituloAbout">
        <svg viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path d="M5 50 50 75 150 75 200 95 800 95 850 75 950 75 995 50 995 5 5 5Z" />
        </svg>
        <h2>Acerca de Mí</h2>
    </div>
    <article>
        <p>Yo soy Andrés González, tengo 22 años, vivo en el municipio de Facatativá Cundinamarca. Estudio desarrollo de software de manera virtual, mi enfoque está en el desarrollo de aplicativos webs, principalmente en Front End, aunque cuento con conocimientos básico de Back End.</p>
        <p>Soy una persona con mucha pasión por aprender cosas nuevas y superarme día a día. Mis objetivos son el crecimiento profesional y personal a través de la experiencia y practica de mis habilidades. Doy lo mejor de mi para realizar de la mejor manera mis actividades. Deseo ayudar a los demás a través de mis conocimientos y acciones, para crear un mundo mejor. Mi mayor motivación es hacer cosas para un bien común y que aporten algo bueno a todos. Soy una persona responsable, proactiva con capacidad de adaptación y autoaprendizaje. </p>
        <div class="dibujos">
            <img src="{{UrlImg}}img/dibujoMandala.jpg">
            <img src="{{UrlImg}}img/dibujoFrida.jpg">
        </div>
        <p>Además del desarrollo de software me gusta dibujar, en si me gusta mucho el arte de cualquier tipo, pero principalmente me gusta como trazos y líneas en formas únicas  e inigualables.</p>
    </article>
</section>