footer{
    width: 100vw;
    font-family: 'Iceland', cursive;
    background: linear-gradient(90deg, rgba(0, 255, 106, 0.3), rgba(0, 106, 255, 0.3));
}
.contactoFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
.contactoFooter img{
    filter: invert(1);
    width: 32px;
    padding: 10px;
}
.contactoFooter p{
    padding: 0 20px;
    color: white;
    text-align: center;
}
