<footer>
    <svg viewBox="0 0 1000 30" preserveAspectRatio="none">
        <path d="M0 28 100 28 200 0 800 0 900 28 998 28 998 " fill="none"/>
        <path d="M0 2 1000 3"/>
    </svg>
    <div class="contactoFooter">
        <a href="https://linkedin.com/in/josé-andrés-gonzález-fernández-30174413a" target="_bank"><img src="{{UrlImg}}icon/linkedIn_ico.ico"></a>
        <a href="https://github.com/AnddresGo98"><img src="{{UrlImg}}icon/gitHub_ico.ico"></a>
        <p>www.andresgo.com.co / Created by Andrés González</p>
    </div>
    
</footer>