<div class="navegacion" >
    <div class="divNav" [@navMobile]="estadoMenu ? 'open': 'closed'">
        <nav>
            <a [routerLink]="'inicio'"> Inicio</a>
            <a [routerLink]="'proyectos'">Proyectos</a>
            <a [routerLink]="'skills'">Habilidades</a>
            <a [routerLink]="'about'">Acerca de Mí</a>
        </nav>
        <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
            <path d="M10 0 10 900 40 950 80 950 150 990 850 990 920 950 960 950 990 900 990 0"/>
        </svg>
    </div>
    <div class="divLogoMenu">
        <svg viewBox="0 0 1000 200" preserveAspectRatio="none">
            <path d="M10 0 40 100 80 100 150 190 850 190 920 100 950 100 990 0"/>
        </svg>
        <div class="logoMenu" (click)="cambiarEstadoMenu()">
            <div id="lineManu1" [@menu1]="estadoMenu ? 'open': 'closed'"></div>
            <div id="lineManu2"  [@menu2]="estadoMenu ? 'open': 'closed'"></div>
            <div id="lineManu3"></div>
        </div>
    </div>
</div>

